In [4]:
import pandas as pd

In [3]:
import numpy as np

In [2]:
import matplotlib.pyplot as plt

In [1]:
import seaborn as sns

In [8]:
gdp_df=pd.read_csv('gdp_percapita.csv')

In [9]:
%matplotlib inline

In [11]:
internet_df=pd.read_csv('internet_use.csv', error_bad_lines=False)

C:\Users\vital\AppData\Local\Temp\ipykernel_10360\4037731269.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  internet_df=pd.read_csv('internet_use.csv', error_bad_lines=False)
b'Skipping line 4675: expected 4 fields, saw 6\n'

#"error_bad_lines=False" was used to delete any columns that were not needed in the data set/ outlier values.

In [12]:
gdp_df.head(6)

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN

In [13]:
internet_df.head(6)

  Country or Area  Year     Value  Value Footnotes
0     Afghanistan  2014  6.390000              NaN
1     Afghanistan  2013  5.900000              NaN
2     Afghanistan  2012  5.454545              NaN
3     Afghanistan  2011  5.000000              NaN
4     Afghanistan  2010  4.000000              NaN
5     Afghanistan  2009  3.550000              NaN

In [14]:
gdp_df.shape

(6870, 4)

In [15]:
internet_df.shape

(4675, 4)

In [20]:
print(type(gdp_df.columns))

<class 'pandas.core.indexes.base.Index'>

Might need to double check this.